<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kt.mobile.spotify_stats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpotifyStatsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotify_stats">
        <activity
            android:name=".core.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="client_id"
            android:value="${CLIENT_ID}" />
        <meta-data
            android:name="client_secret"
            android:value="${CLIENT_SECRET}" />
    </application>

</manifest>